/* 
Firefox `userChrome.css`
Instructions:
  1. Browse to URL "about:config"
    - set `toolkit.legacyUserProfileCustomizations.stylesheets`: true
  2. Browse to URL "about:profiles"
    - Select 'Profile in use' -> 'Root Directory' -> 'Show in Files'
    - Save this file under `chrome/userChrome.css`
    - restart the browser
*/

/* Hide Tabs on Topbar */
#TabsToolbar {
  visibility: collapse;
}

/* Hide Sidebar header */
#sidebar-box #sidebar-header {
  visibility: collapse;
}

/* Hide splitter */
#sidebar-box + #sidebar-splitter {
  display: none !important;
}

:root {
  --uc-sidebar-width: 38px !important;
  --uc-sidebar-hover-width: 350px !important;
  /* Wait delay before hiding sidebar */
  --uc-autohide-sidebar-delay: 100ms;
}

/* modified side-bar */
#sidebar-box {
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}

/* Show sidebar only when the cursor is over it  */
#sidebar-box:hover > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important
}

#sidebar-box > #sidebar {
  transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

/* Add sidebar divider and give it background */
#sidebar-box > #sidebar,
#sidebar-box > #sidebar-header {
  background-color: var(--toolbar-bgcolor) !important;
/*  border-inline: 1px solid var(--sidebar-border-color) !important;*/
  border-inline: 1px solid var(--chrome-content-separator-color) !important;
  border-inline-width: 0px 1px;
}

#sidebar-box[positionend]{
  direction: rtl
}

#sidebar-box[positionend] > *{
  direction: ltr
}

#sidebar-box[positionend]:-moz-locale-dir(rtl){
  direction: ltr
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{
  direction: rtl
}
