/*
Firefox `userChrome.css`
Instructions:
  1. Browse to URL "about:config"
    - set `toolkit.legacyUserProfileCustomizations.stylesheets`: true
  2. Browse to URL "about:profiles"
    - Select 'Profile in use' -> 'Root Directory' -> 'Show in Files'
    - Save this file under `chrome/userChrome.css`
    - restart the browser
*/

/* Hide Tabs on Topbar */
#TabsToolbar {
  visibility: collapse;
}

/* Hide Sidebar header */
#sidebar-box #sidebar-header {
  visibility: collapse;
}

/* Hide splitter */
#sidebar-box + #sidebar-splitter {
  display: none !important;
}

/* Shrink sidebar until hovered */
:root {
  --thin-tab-width: 38px;
  --wide-tab-width: 350px;
  --autohide-sidebar-delay: 100ms;
}

#sidebar-box {
  overflow: hidden !important;
  position: relative !important;
  transition: all var(--autohide-sidebar-delay) !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  z-index: 2;
}

#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}

#sidebar-box:hover,
#sidebar-box #sidebar {
  /*transition-delay: 0s !important;*/
  transition: all var(--autohide-sidebar-delay) !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
  z-index: 1;
}

#sidebar-box:hover {
  margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}
